body {
  background-color: bisque;
}
.main {
  width: 500px;
  height: 500px;
  background-color: rgb(108, 199, 169);
  border: 3px solid black;
  /* border: 3px dotted black; */
  /* border: 3px double black; */
  /* border: 3px dashed black; */
  /* margin: 50px; margin u odnosu na sve cetiri strane */
  margin-top: 30px;
  margin-right: 30px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin: 50px 40px 30px 20px;
  margin: 50px 20px;
  margin: 50px 20px 35px;
  margin: 30px auto;
  padding: 10px 25px;
  /* border-radius: 10px 5px 15px 0px; */
  border-top-right-radius: 10px;
}
.drugi {
  /* width: 500px; */
  /* height: 500px; */
  background-color: rgb(86, 93, 179);
}
.main p {
  text-align: justify;
}
body {
  background-color: bisque;
}
.main {
  width: 500px;
  height: 500px;
  background-color: rgb(108, 199, 169);
  border: 3px solid black;
  /* border: 3px dotted black; */
  /* border: 3px double black; */
  /* border: 3px dashed black; */
  /* margin: 50px; margin u odnosu na sve cetiri strane */
  margin-top: 30px;
  margin-right: 30px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin: 50px 40px 30px 20px;
  margin: 50px 20px;
  margin: 50px 20px 35px;
  margin: 30px auto;
  padding: 10px 25px;
  /* border-radius: 10px 5px 15px 0px; */
  border-top-right-radius: 10px;
}
.drugi {
  /* width: 500px; */
  /* height: 500px; */
  background-color: rgb(86, 93, 179);
}
.main p {
  text-align: justify;
}
body {
  background-color: bisque;
}
.main {
  width: 500px;
  height: 500px;
  background-color: rgb(108, 199, 169);
  border: 3px solid black;
  /* border: 3px dotted black; */
  /* border: 3px double black; */
  /* border: 3px dashed black; */
  /* margin: 50px; margin u odnosu na sve cetiri strane */
  margin-top: 30px;
  margin-right: 30px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin: 50px 40px 30px 20px;
  margin: 50px 20px;
  margin: 50px 20px 35px;
  margin: 30px auto;
  padding: 10px 25px;
  /* border-radius: 10px 5px 15px 0px; */
  border-top-right-radius: 10px;
}
.drugi {
  /* width: 500px; */
  /* height: 500px; */
  background-color: rgb(86, 93, 179);
}
.main p {
  text-align: justify;
}
