* {
  margin: 0px;
  box-sizing: border-box;
  padding: 0px;
}
.parent {
  margin: auto;
  width: 500px;
  height: 500px;
  background-color: rgb(214, 138, 244);
}
.child {
  width: 50%;
  height: 50%;
  background-color: bisque;
}
.parent:hover .child {
  /* transition: transform 1s ease-in-out; */
  animation: left-to-right 1s ease-in-out 0.1s forwards infinite alternate;
  /* animation-play-state: paused; */
}
@keyframes left-to-right {
  20% {
    transform: translate(50%, 50%);
    background-color: rgb(110, 50, 104);
  }
  40% {
    transform: translate(100%, 100%);
    background-color: rgb(9, 217, 220);
  }
  6% {
    transform: translate(100%, 100%);
    background-color: rgb(215, 23, 23);
  }
  80% {
    transform: translate(0, 100%);
    background-color: rgb(200, 211, 40);
  }
  100% {
    transform: translate(0, 0);
    background-color: rgb(25, 150, 75);
  }
}
