@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Dancing+Script&family=Poppins:ital,wght@0,100;0,400;1,400&family=Sofia+Sans+Extra+Condensed:ital,wght@1,1&display=swap");
.prvi {
  width: 400px;
}
.prvi h1 {
  width: 235px;
  margin-bottom: -10px;
  color: rgb(0, 85, 255);
}
.prvi p {
  color: #000;
  font-size: 24px;
  font-weight: normal;
  line-height: 32px;
}
body {
  background: #f0f2f5;
  padding: 0px;
  margin: 0px;
  font-family: Arial, sans-serif;
}
.drugi {
  border-radius: 10px;
  background-color: white;
  width: 350px;
  text-align: center;
  margin-left: 60px;
  margin-top: 150px;
  border: px solid black;
  padding: 15px;
  box-shadow: 0px 2px 10px 1px rgba(71, 71, 71, 0.52);
}
.drugi input {
  width: 100%;
  margin-bottom: 15px;
  padding: 15px;
  font-size: 18px;
  box-sizing: border-box;
  border: 1px solid #eeebee;
  border-radius: 5px;
  outline: none;
}
.drugi input:focus {
  box-shadow: 0px 0px 1px 1px rgb(22, 111, 229);
}
.drugi button {
  width: 100%;
  margin-bottom: 15px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px;
  border: none;
  padding: 15px 0;
  cursor: pointer;
  background: #166fe5;
}
.drugi button:hover {
  background: #1877f2;
}
.drugi a {
  color: #166fe5;
  font-size: 14px;
  text-decoration: none;
  margin-top: 5px;
  margin-bottom: 20px;
  display: block;
}
.drugi a:hover {
  text-decoration: underline;
}
.drugi hr {
  border: 1px solid #dadde1;
  margin-bottom: 15px;
}
.drugi .nalog a {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  padding: 15px 20px;
  border-radius: 5px;
  background: #36a420;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 5px;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100;
  height: 100;
}
.paragraf {
  font-size: 13px;
  margin-left: 470px;
  margin-top: 20px;
  text-align: center;
  clear: both;
}
.prgf {
  margin: 0px;
  box-sizing: border-box;
  text-align: justify;
  font-size: 20px;
  font-family: "Caveat", cursive;
}
.parent {
  height: 130px;
  background-color: rgb(181, 236, 210);
  position: sticky;
  top: 0px;
  margin: 0px;
  padding: 0px;
}
.icon {
  font-size: 25px;
  text-align: left;
  position: absolute;
  left: 50px;
  bottom: 23px;
}
.child1 {
  width: 55px;
  height: 50px;
  color: #000;
  background-color: #166fe5;
  position: absolute;
  right: 460px;
  top: 40px;
  bottom: 20px;
  text-align: center;
  border-radius: 10px;
  font-size: 17px;
  font-family: "Caveat", cursive;
}
.child2 {
  width: 80px;
  height: 50px;
  color: #000;
  background-color: #166fe5;
  position: absolute;
  right: 360px;
  top: 40px;
  bottom: 20px;
  text-align: center;
  border-radius: 10px;
  font-size: 17px;
  font-family: "Caveat", cursive;
}
.child3 {
  width: 80px;
  height: 50px;
  color: #000;
  background-color: #166fe5;
  position: absolute;
  right: 260px;
  top: 40px;
  bottom: 20px;
  text-align: center;
  border-radius: 10px;
  font-size: 17px;
  font-family: "Caveat", cursive;
}
.child4 {
  width: 55px;
  height: 50px;
  color: #000;
  background-color: #166fe5;
  position: absolute;
  right: 180px;
  top: 40px;
  bottom: 20px;
  text-align: center;
  border-radius: 10px;
  font-size: 17px;
  font-family: "Caveat", cursive;
}
.child5 {
  width: 80px;
  height: 50px;
  color: #ffffff;
  background-color: #092952;
  position: absolute;
  right: 70px;
  top: 40px;
  bottom: 20px;
  text-align: center;
  border-radius: 10px;
  font-size: 17px;
}
